@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: avant;
    font-weight: 400;
    src: url(/fonts/Avant.ttf);
}

@font-face {
    font-family: avant;
    font-weight: 700;
    src: url(/fonts/AvantBold.ttf);
}

@font-face {
    font-family: Meatloaf;
    font-weight: 400;
    src: url(/fonts/Meatloaf1.ttf);
}

body::-webkit-scrollbar {
    width: 4px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: #28282B; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: #b7ab98;
}


@layer components {
    .cGray {
        color: #77777c !important;
    }

    .d10 {
        @apply bg-red-300/30 !important;
    }
    .d20 {
        @apply bg-blue-300/30 !important;
    }
    .d30 {
        @apply bg-green-300/30 !important;
    }
    .d40 {
        @apply bg-orange-300/30 !important;
    }
    .d50 {
        @apply bg-pink-700/30 !important;
    }
    .d60 {
        @apply bg-purple-300/30 !important;
    }

    .d6 {
        @apply bg-purple-300 !important;
    }

    .d1 {
        @apply bg-red-300 !important;
    }
    .d2 {
        @apply bg-blue-300 !important;
    }
    .d3 {
        @apply bg-green-300 !important;
    }
    .d4 {
        @apply bg-orange-300 !important;
    }
    .d5 {
        @apply bg-pink-300 !important;
    }
}
